<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= link_to "Sign up", new_user_path %>

<%= yield %>

<% if signed_in? %>
   You are <%= current_user.email %>
<% else %>
   You are not signed in.
   <%= link_to "Sign in", sign_in_path %>
<% end %>


</body>
</html>
